{% extends 'base.html.twig' %}

{% block title %}Éditer la catégorie "{{ category.name }}"
{% endblock %}

{% block body %}
    <h1>Éditer la catégorie "{{ category.name }}"</h1>

    {{ form(form) }}
{% endblock %}
