<header>
	{% if app.request.attributes.get('_route') == 'app_home' %}
		<a href="{{ path('app_home') }}">Accueil</a>
	{% endif %}
		<a href="{{ path('app_film_index') }}">Films</a>
		<a href="{{ url('app_category_index') }}">catégories</a>
		<a href="{{ url('app_classification_index') }}">Classifications</a>

</header>
