{% extends 'base.html.twig' %}

{% block title %}New Employe{% endblock %}

{% block body %}
    <h1>Create new Employe</h1>

    {{ include('employe/_form.html.twig') }}

    <a href="{{ path('app_employe_index') }}">back to list</a>
{% endblock %}
