{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Catégories</h1>

    <ul>
        {% for categorie in categories %}
            <li><a href="{{ path('app_category_show', {'name': categorie.name})}}">{{ categorie.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
