<form method="POST" action="{{ path('app_salle_delete', {'nom': salle.nom}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salle.nom) }}">
    <button class="btn">Delete</button>
</form>
