{% extends 'base.html.twig' %}

{% block title %}New Salle{% endblock %}

{% block body %}
    <h1>Create new Salle</h1>

    {{ include('salle/_form.html.twig') }}

    <a href="{{ path('app_salle_index') }}">back to list</a>
{% endblock %}
