{% extends 'base.html.twig' %}

{% block title %}{{ classification.name }}{% endblock %}

{% block body %}
  <h1>{{ classification.name }}</h1>

  <ul>
    {% for film in classification.films %}
      <li><a href=" {{ path('app_film_show', {'id': film.id})}}">{{ film.titre }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}