{% extends 'base.html.twig' %}

{% block title %}{{ categorie.nom }}{% endblock %}

{% block body %}
    <h1>{{ categorie.nom }}</h1>
	{{ include('includes/success.html.twig') }}

    <p><b>Description : </b> {{ categorie.description }}</p>

{% endblock %}
